  <div class="wrapper">
    <div class="author-list">
      <h2>Authors</h2>
      <div *ngFor="let author of authors; let i = index">
        <a  (click)="openDropdown(i)">{{author.author}}</a>
        <div [ngClass]="{'menu-dropdown': selected == i, 'menu-dropdown-hidden': selected != i}">
          <a [routerLink]="['/authors', author.author]">Biography</a>
          <ul *ngFor="let book of authorBooks">
            <li><a [routerLink]="['/books', book.title]">{{book.title}}</a></li>
          </ul>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
