/* You can add global styles to this file, and also import other style files */
body {
  background:lightcyan;
}
.wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  margin: 0 10% 5%;
  padding: 5%;
  background: #fff;
  border-radius: 4px;
  box-shadow: 2px 3px 5px 2px #a4bbba;

}

